
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
    


}
body{

    width:100%;
    height: 100%;
   
}

header{
    box-shadow: 2px 2px 20px rgb(112, 112, 112);
    justify-content: space-between;
    top: 0px;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 3000;
    
    

    
    
}



.menu{

    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    display: block;
  
    
   

}
.menu a img{
    width: 10%;
    height: 10%;

    
}
.menu ul{
    float: right;
    display: flex;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px ;
    font-weight:bold ;
    transform: translateY(-120px);
    margin-right: 50px;
   
   

    
    
}
.menu ul li {
    text-decoration: none;
    height: 10px;
    margin: 20px 5px 15px ;
    padding: 30px 0px 50px;
    list-style: none;
   border-bottom: none;
    
    
    
    
    


}

.menu ul li:hover {

    background-color: #ffffff;


}
.menu ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    width: 100%;
  
    border-bottom: none;
    
  

   
   
}
.menu ul li a:hover{
    color: #858585;
    transform: scale(5);
  

}


  .dropbtn {
  
   background: none;
    color: rgb(0, 132, 255);
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-weight:bold ;
    margin:50px 20px 20px;
 
  }
  
  .dropbtn a{
  

     text-decoration: none;
     color: rgb(0, 132, 255);
   }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    justify-content: center;
   
   
  }
  
  .dropdown-content a {
    color: black;
    margin: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    display: block;
  
  }
  
  
  .dropdown-content a:hover {   
      background-color: #000000;
     text-align: center;
     justify-content: center;
     align-items: center;
     transform: translateX(-30px);
    width: 100%;
  
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
     justify-content: center;
     align-items: center;
     position: absolute;
    
  
  }
  
  
  .dropdown:hover .dropbtn {
    background-color: #ffffff;
  }
  
  #H{
  
    color: #ff00bf;
  }
  #Ps{
  
    color: #00C8FF;
  }
  #Ai{
  
    color: #FF7C00;
  }
  
  #Ae{
  
    color: #B54EFF;
  }
  
  #XD{
    color: #FF21BF;
  
  }
  
  #Blen{
    color: #a15100;
  
  }
  #pro{
  
    color: rgb(68, 0, 255);
  }
  
  #Cer{
  
    color: #dfa300;
  }
  .Ex{


    background: none;
    color: rgb(255, 0, 85);
  }
.Headalign{

    background-color: #111111;

    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 55px;
    height: 200px;
    width: 100%;
}
.Headalign2{

    background-color: #111111;
    color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 50px;
    height: 150px;
    width: 100%;
    font-size: 30px;
}
.aligntext {

 
    background: none;
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.type{

    background: none;
    color: rgb(255, 0, 85);
}
.Header2{

 
    width: 100%;
    height: 1000px;
    
    background-image: url(programming/Screen\ Recording\ \(06-06-2021\ 18-30-18\).gif);
    background-size: cover;


  
 /*   mix-blend-mode: multiply; */
   

    
   
    
}
.Header2 .text{
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 100px;
    background: none;
  padding-top: 300px;
  padding-left:100px;
    justify-content: start;

    
    
  
    
}

.text{

   
}


.textDesign{
  
    margin-top: 50px;
    border: none;
    outline: none;
    background-color: #ffffff;
    width: 200px;
    height: 20px;
    display: block;
    margin-left: 100px;
    text-decoration: none;
    list-style: none;
}
.textDesign p{
    
    color: #000000;
    padding: 20px;
    font-size: 20px;
    background-color: #ffffff;
    text-decoration: none;
    list-style: none;

    
}

.textDesign a {
    
 
    text-decoration: none;
    list-style: none;
    

    
    
}
.textDesign p:hover {
    
 
    color: rgb(143, 143, 143);
   

    
    
}



/*slides*/

.Head-slider{

    padding-top: 100px;
    width: 90%;
}

.item {


    margin-bottom: 50px;
}
.item a img:hover{



}
.logo-slider{

    justify-content: center;
    align-items: center;
    transform: translateX(100px);


}
.item a img:hover {

    transform: translate(2)


}

/*nav*/



.nav{

    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    margin: auto;
    margin-top: 100px;
    width: 60%;
    transform: translateX(100px);
  
}
.Header-nav{



    transform: translateX(500px);
    margin-top: 100px;


}

.nav-content{

    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
   

}

.nav-row1{

    margin: 0;
   
  

}
.nav-head{
   
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    font-size: 50px;
    margin-top: 150px;
    transform: translateX(50px);
    margin-bottom: 150px;
 

}


.nav-headc{

    font-size: 25px;
   
    margin-right: 180px;
    margin-bottom: 65px;
}
.C1{

    transform: translateX(75px);


}
.C1 p{

    transform: translateY(-110px);
    margin-left: 0px;

}
.C{

  
    margin-right: 400px;

}


.C a img{

 
    justify-content:  start;
    align-items: start;
    text-align:  start;
    align-self:  start;
    transform: translateX(75px);
   margin-top: 100px;
}

.nav-windowns{


   transform: translateY(-360px);
   display: flex;
   margin-left: 400px;
   



}

.nav-windowns1{

    margin: 20px 20px 20px 40px;
    width: 250px;
    height: 250px;
    background-color: #000000;

  

}

.nav-windowns1 img{

    width: 250px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    
  

}
.nav-windowns2{

    margin-top: 20px;
    width: 250px;
    height: 250px;
    background-color: #000000;
   

}

.nav-windowns2 img{

    width: 250px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
  

}

.nav-windowns3{

    margin: 0px 20px 20px 40px;
    width: 250px;
    height: 250px;
    background-color: #000000;

  

}
.nav-windowns3 img{

    width: 250px;
    height: 250px;
    display:flex;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;

  

}
.nav-windowns4{

    margin: 0px 20px 20px 0px;
    width: 250px;
    height: 250px;
    background-color: #000000;
   

}
.nav-windowns4 img{

    width: 250px;
    height: 250px;    
    display:flex;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;


}

.nav-windowns-large{

    width: 960px;
    height: 250px;
    background-color: #000000;
    transform: translateY(-350px);



}
.code-img-large{

    transform: translateX(60px);
    margin: 25px 0;

}

.nav-text{

    align-items: center;
    background: none;
    transform: translateY(-220px);
    
}

.nav-text p{
    background: none;
    color: rgb(255, 255, 255);
    transform: translateX(450px);
    text-align: justify;
    margin: 10px;
}
.nav-text p i{
    background: none;
   color: #009400;
   font-size: 15px;
}
#process{

    color : yellow;
}
#not-com{

    color : red;
}

.nav-row0{

    margin-top: 300px;

}
.nav-row{

    transform: translateY(-300px);

}
.nav-row1{

transform: translateY(-600px);

}

.nav-row2{

transform: translateY(-900px);

}
.nav-row3{

transform: translateY(-1200px);

}
.nav-row4{

transform: translateY(-1500px);

}
.nav-row5{

transform: translateY(-1800px);

}
.nav-row6{

transform: translateY(-2100px);

}
.nav-row7{

transform: translateY(-2400px);

}
.nav-row8{

transform: translateY(-2700px);

}








/*footer*/
footer{

    box-shadow: 0px 2px 12px rgb(0, 0, 0);
}
footer p{

    font-family: calibri;
}

footer p:nth-child(1){
     margin: 50px 0px 30px 0px;
    font-size:30px ;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    line-height: 10px;
}

footer p:nth-child(2){
    font-size:18px ;
    width: 600px;
    font-weight: bold;
    color: rgb(102, 102, 102);
    text-align: center;
}

footer{
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.social-icons a{

    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    margin: 20px 10px;
    border-radius: 50%;
    text-decoration: none;
}

.social-icons{
    display: flex;
}

.social-icons i,.social i{
    
    color: #ffffff;
    background-color: rgb(0, 0, 0);

}

.social-icons a:hover{
     transform: scale(1.1);
    
}

.copyright{
    color: rgb(104, 104, 104);
    font-size: 18px;
    position: absolute;
    margin-top: 200px;
    font-weight: bold;
    transform: translateY(30%);
    
    
}

.social{
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.social a{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
   list-style: none;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    box-shadow: 2px 2px 10px rgb(150, 150, 150);
}

.social a:hover{
    transform: scale(1.1);
}












































































{}
@media(min-width : 0px) and (max-width:1366px) {




    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: rgb(255, 255, 255);
        font-family: 'Oswald', sans-serif;
        
    
    
    }
    
   

    header{
        box-shadow: 2px 2px 20px rgb(112, 112, 112);
        justify-content: space-between;
        top: 0px;
        position: fixed;
        width: 100%;
        z-index: 3000;
        height: 80px;
    
        
        
    }
    
    
    
    .menu{
    
        background-color: rgb(255, 255, 255);
        justify-content: space-between;
      
        
       
    
    }
    .menu a img{
        margin-top: 10px;
        width: 130px;
        height: 70px;
    
        
    }
    .menu ul{
        float: right;
        display: flex;
        list-style: none;
        font-family: 'Roboto', sans-serif;
        font-size: 20px ;
        font-weight:bold ;
        margin-right: 100px;
        display: block;
        transform: translateX(80px);
    }
    .menu ul li {
        text-decoration: none;
        height: 10px;
        margin: 20px 5px 15px ;
        padding: 30px 0px 50px;
        outline: none;
        border: none;
        background-color: white;
        
        
        
    
    
    }
    .menu ul li:nth-child(1){

     
        padding-bottom: 100px;

    }
    .menu ul li:nth-child(3){

     
        padding-bottom: 100px;


    }
    .menu ul li:nth-child(4){

     
        padding-bottom: 100px;

    }
    .menu ul li a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        margin: 20px;
        padding: 10px;
        width: 100%;
        outline: none;
        border: none;
        background-color: white;

        
    
       
       
    }
    .menu ul li a:hover{
        color: #858585;
        transform: scale(5);
      
    
    }
    #sidebar {
        position:absolute;
        top:0px;
        right:0px;
        width:200px;
        height:100vh;
        background:#1a1a1a;
        text-align:center;
        transform-origin:left;
        transform:perspective(1200px) rotateY(90deg);
    
      
      }
      #sidebar ul li {
        color:#ccc;
        font-size:20px;
        text-decoration: none;
        width:100%;
        height:50px;
        list-style: none;
      
        line-height:50px;
        outline: none;
        border: none;
        background-color: white;
        
        
      }
     
      #sidebar ul li a{
      
        text-decoration: none;
       margin: 10px;
       justify-content: center;
       align-items: center;
       text-align: center;
       
  
      }
     
      #sidebar.active {
        transform:perspective(1200px) rotateY(0deg);
        background-color: #ffffff;
      }
      
      #sidebar ul li a:nth-child(1){
      
       
      
      }
      
      #sidebar ul li a:nth-child(3){
      

        margin-bottom: 50px;
      
      
      }
      #sidebar ul li a:nth-child(4){
      
      
        margin-bottom: 50px;
      
      
      }
      
      
      #toggle-btn {
        position:absolute;
        right:30px;
        top:20px;
        transition:left 200ms linear 0ms,transform 300ms ease 100ms;
      }
      #toggle-btn.active {
        right:230px;
        transform:rotate(360deg);
      }
      #toggle-btn span {
        position:relative;
        top:0px;
        display:block;
        background:#1a1a1a;
        width:30px;
        height:5px;
        margin:5px 0px;
        cursor:pointer;
        transition:transform 300ms ease 200ms;
      }
      #toggle-btn.active span:nth-child(1) {
        top:10px;
        transform:rotate(45deg);
      }
      #toggle-btn.active span:nth-child(2) {
        opacity:0;
      }
      #toggle-btn.active span:nth-child(3) {
        top:-10px;
        transform:rotate(-45deg);
      }
      
      .dropbtn {
      
       background: none;
        color: rgb(0, 132, 255);
        font-size: 20px;
        border: none;
        cursor: pointer;
        font-weight:bold ;
        margin:20px 20px 20px;
      }
      
      
      .dropdown {
        position: relative;
        display: inline-block;
        padding-bottom:20px ;
      }
      
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        justify-content: center;
        width: 200px;
       
       
       
      }
      
      .dropdown-content a {
        color: black;
        margin: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        display: block;
        padding: 10px;
        transform: translateX(-30px);
    
      
      }
      
      
      .dropdown-content a:hover {   
          background-color: #000000;
         text-align: center;
         justify-content: center;
         align-items: center;
         transform: translateX(-60px);
         width: 200px;
      
      }
      
      
      .dropdown:hover .dropdown-content {
        display: block;
        text-align: center;
         justify-content: center;
         align-items: center;
         position: absolute;
         transform: translateX(-15px);
        
      
      }
      
      
      .dropdown:hover .dropbtn {
        background-color: #ffffff;
      }
      
      #H{
      
        color: #ff00bf;
      }
      #Ps{
      
        color: #00C8FF;
      }
      #Ai{
      
        color: #FF7C00;
      }
      
      #Ae{
      
        color: #B54EFF;
      }
      
      #XD{
        color: #FF21BF;
      
      }
      
      #Blen{
        color: #a15100;
      
      }
      #pro{
      
        color: rgb(68, 0, 255);
      }
      
      #Cer{
      
        color: #dfa300;
      }
      
   
    
    











}




























{}
/*phone*/
@media only screen and (max-width:600px){

    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');


  
    


}
































{}
/*small device*/
@media only screen and (min-width:600px){

    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');




    
    
    


}









{}
/*ipad*/
@media only screen  and (min-width : 992px) {

    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');



    
    
    
    
    


}









{}
/*ipadpro*/
@media only screen and (min-width: 1024px){

    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');



    
    
    
    
}